:root{
    --section-title-font-size: 2rem;
    --highlight-color: "#007bff"
}
body{
    background-color: #23252C;
    color: #FFFFFF;
}

#app{
    width: fit-content;
    width: 29.5%;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    background-color: #1A1B21;
    margin-top: 5%;
    margin-bottom: 5%;
    min-width: 22rem;
}


/* Info.jsx */
.info{
    padding-bottom: 1%;
    text-align: center;
}

.details{
    text-align: center;
    margin-bottom: 1rem;
    background-color: #1A1B21;
}

#headshot{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
}

#name{
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1rem;
}
#title{
    font-family: Inter;
    font-size: 1.5rem;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    color: #0062cc;
}

.buttons{
    display: flex;
    width: 100%;
    margin: 10% 0;
}

.button#left-side{
    margin: 0 8% 0 15%;
}
.button#right-side{
    margin: 0 15% 0 8%;
}

.button{
    flex: 50%;
    background-color: #ffffff;
    box-shadow: 0 5px 0 #b3b3b3;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
    height: 10%;
}
.button:active{
    box-shadow: none;
    transform: translateY(5px);
}

.button a{
    color: #374151;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.button a:hover{
    color: #9ba0a8;
}
.button a svg{
    margin-right: 0.2rem;
}


/* About.jsx */
.about{
    margin: 0 12%;
    margin-bottom: 8%;
}
.section-title{
    font-size: var(--section-title-font-size);
    margin-bottom: 0rem;
}
.about p{
    margin-top: 0.8rem;
}

.about #message{
    color: var(--highlight-color);
    color: #007bff;
}


/* Project.jsx */
.project{
    margin: 0 12%;
    margin-bottom: 8%;
}
.project a{
    color: #006fe6;
    text-decoration: none;
}.project a:hover{
    color: #374151;
}
.project h4{
    font-size: 1.2rem;
    margin-bottom: 0;
}
.project p{
    margin-top: 0.8rem;
}


/* Foot.jsx */
.foot{
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
}
.foot ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 3.4375rem;
}
.foot li{
    margin: 1rem;
}
.foot svg{
    color: #161619;
    background-color: #918E9B;
    border-radius: 4px;
}
.foot svg:hover{
    color: #d0d0d1;
}
