body{
    background-color: #e5e5e5;
}
div{
    background-color: #95E259;
    text-align: center;
    width: 420px;
    margin: auto;
    margin-top: 20%;
    border-radius: 7px;
}
button{
    background-color: #008AA9;
    color: #ffffff;
    border-radius: 4px;
    padding: 5px 20px;
    margin: 15px 0px;
    font-size: 1.75rem;
    border: 5px solid #0071AB;

}
a{
    text-decoration: none;
    padding: 5px 20px;
    color: #F8FFF8;
}